# DATA MIGRATION TO MONGODB

In [20]:
# import necessary libraries
import os
import pandas as pd
from pymongo import MongoClient
import gridfs

The data was initially downloaded from sharepoint to my PC and then i used python to read the data and migrate to a mongodb cluster.

In [21]:
# Configuration
MONGO_URI = "mongodb+srv://Deewhy:dayus33@cg.gxex0df.mongodb.net/?retryWrites=true&w=majority&appName=CG"
DB_NAME = "CG"  
EMPLOYERS_COLLECTION_NAME = "Employers"
EMPLOYEES_COLLECTION_NAME = "Employees"
FILE_PATH = "C:/Users/dayoa/OneDrive/Documents/Work/CG/Data Specialist Task/EOR Log.xlsx"  # Path to your Excel file
AGREEMENT_DOCS_FOLDER = "C:/Users/dayoa/OneDrive/Documents/Work/CG/Data Specialist Task/Employers"  # Path to agreement_docx folder

In [22]:
# Read the entire workbook
workbook = pd.ExcelFile(FILE_PATH)

# Print the sheet names
print(workbook.sheet_names)

['employees', 'employers']

In [23]:
# Read specific sheets into dataframes
df_employees = pd.read_excel(FILE_PATH, sheet_name='employees')
df_employers = pd.read_excel(FILE_PATH, sheet_name='employers')

df_employees.head(1)

,First Name,Last Name,Gender,Birthday,email,residential address,Contact,Country,start date,end date,Role,Probation (weeks),salary,Employer
0,John,Doe,male,2024-07-11,john@yahoomail.com,"1, cosgroove drive, new layout, Enugu",23412348693,Nigeria,2024-07-11,2024-07-11,software developer,1,5890128.12,constellation global

In [24]:
df_employers.head(2)

,name,industry,website,employee count,country
0,constellation global,workforce,constellation-global.com,1,UK
1,work labs,software,worklabs.com.ng,1,Nigeria

In [25]:
# Connect to MongoDB
client = MongoClient(MONGO_URI)
db = client[DB_NAME]
fs = gridfs.GridFS(db)

In [26]:
# Upload documents to GridFS
def upload_agreement_docs(folder_path):
    doc_map = {}
    for company_folder in os.listdir(folder_path):
        company_folder_path = os.path.join(folder_path, company_folder)
        if os.path.isdir(company_folder_path):
            for file_name in os.listdir(company_folder_path):
                if file_name.lower().endswith(('.docx', '.doc')):
                    file_path = os.path.join(company_folder_path, file_name)
                    with open(file_path, 'rb') as file_data:
                        file_id = fs.put(file_data, filename=file_name)
                        doc_map[company_folder] = file_id
    return doc_map

doc_map = upload_agreement_docs(AGREEMENT_DOCS_FOLDER)
doc_map

{'constellation global': ObjectId('66a4de21b723955a1189c766'),
 'work labs': ObjectId('66a4de25b723955a1189c768')}

In [27]:
# Insert Employers into MongoDB
def insert_employers(data_frame):
    for index, row in data_frame.iterrows():
        employer_data = {
            "Name": row["name"],
            "Industry": row["industry"],
            "Website": row["website"],
            "Employee count": row["employee count"],
            "Country": row["country"],
            "Agreement": doc_map.get(row["name"], None)
        }
        # insert each employer record in the employer collection
        db[EMPLOYERS_COLLECTION_NAME].insert_one(employer_data)
        print(f"Inserted {row['name']} into {EMPLOYERS_COLLECTION_NAME} collection")

insert_employers(df_employers)

print("All employers uploaded successfully.")

Inserted constellation global into Employers collection
Inserted work labs into Employers collection
All employers uploaded successfully.

In [28]:
# Function to generate unique ID
def generate_unique_id(start=1):
    current_id = start
    while True:
        yield current_id
        current_id += 1

# Create a unique ID generator
id_generator = generate_unique_id()

In [29]:
# Insert Employees into MongoDB
def insert_employees(data_frame):
    for index, row in data_frame.iterrows():
        employee_id = next(id_generator)
            
        employee_data = {
            "First name": row["First Name"],
            "Last name": row["Last Name"],
            "Gender": row["Gender"],
            "Employer": row["Employer"],
            "Salary": row["salary"],
            "Probation(weeks)": row["Probation (weeks)"],
            "Birthday": row["Birthday"],
            "Contact": row["Contact"],
            "Country": row["Country"],
            "Start date": row["start date"],
            "End date": row["end date"],
            "Role": row["Role"],
            "ID": employee_id
        }
        # insert each employee record in the employee collection
        db[EMPLOYEES_COLLECTION_NAME].insert_one(employee_data)
        print(f"Inserted {row['First Name']} into {EMPLOYEES_COLLECTION_NAME} collection")

insert_employees(df_employees)

print("All data uploaded successfully.")

Inserted John into Employees collection
Inserted Jane  into Employees collection
All data uploaded successfully.

All data can now be accessed on mongodb